/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'svelte-hamburgers/scss/base';
@import 'svelte-hamburgers/scss/types/spin';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,800;1,100;1,300;1,500;1,800&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '../static/fonts/cairo.scss';
@import '../static/fonts/vollkorn.scss';
@import '../static/fonts/inter.scss';
@import '../static/fonts/josefin-sans.scss';
@import '../static/fonts/merriweather.scss';
@import '../static/fonts/open-sans.scss';
// @import '../static/fonts/font-styles.css';
@layer components {
    .articles-change {
        grid-template-areas: 'intro posts'
            'separator separator';
        grid-template-columns: 3fr 2fr;
    }
}

@layer utilities {
    .delay-100 {
        delay: 0.1s;
    }

    .delay-200 {
        delay: 0.2s;
    }

    .delay-300 {
        delay: 0.3s;
    }

    .delay-450 {
        delay: 0.45s;
    }
}

html {
    max-width: 100vw;
    width    : 100%;
}

body {
    // background: rgba(14,20,35,1);
}

.main {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    font-family    : 'Montserrat', sans-serif;
}